<header class="mx-6">
    <nav class="flex items-center justify-between p-4">
        <div class="logo">
            <a href="./index.html">
                <img src="./assets/images/logo.png" alt="Logo de Golpe maestro" width="100" height="75">
            </a>
        </div>

        <div class="lg:hidden">
            <button">
                Menú
                </button>
        </div>

        <div class="hidden lg:flex justify-end">
            <ul class="flex">
                <li class="mr-4">
                    <a href="./liga-tenis.html">Liga</a>
                </li>
                <li>
                    <a href="./index.html">Acerca de</a>
                </li>
            </ul>
        </div>
    </nav>
</header>